div {
    height: 300px;
    width: 300px;
    border: black 3px solid;
    margin: auto;
    
}

p {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkcyan;
    display: block;
    margin: 5px;
}

button {
    height: 100px;
    width: 250px;
    border: rgb(2, 10, 44) 3px solid;
    background-color: rgb(197, 220, 220);
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(1, 45, 45);
    
}
button:hover {
    cursor: crosshair;
}