div {
    height: 300px;
    width: 300px;
    border: black 3px solid;
    margin: auto;
    
}

h1 {
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkcyan;
}

h2 {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkcyan;
}

p {
    font-size: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkcyan;
    display: block;
    margin: 5px;
}

button {
    height: 50px;
    width: 150px;
    border: rgb(1, 45, 45) 3px solid;
    background-color: rgb(197, 220, 220);
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(1, 45, 45);
    
}
.cat-fact-btn {
    height: 50px;
    width: 250px;
}

button:hover {
    cursor: crosshair;
}